.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;

  .header {
    display: flex;
    justify-content: center;
    font-size: 2.25em;
  }

  @media screen and (max-width: 768px) {
    .header {
      font-size: 1.5em;
    }
  }

  .journeyContainer {
    margin-top: 10px;
  }

  .journey {
    width: 90vw;
    max-width: 750px;
    height: 100%;
    background-color: #fff;
  }
}
