$primary-color: #0b6a14;

@font-face {
  font-family: GillSans;
  src: url("./style/GillSans.otf");
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  background-color: #fffdd0;
  font-family: GillSans;

  .navBar {
    width: 100%;
    height: 70px;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 7px #fff, 0 0 0 12px #000;

    h1 {
      color: #fff;
      letter-spacing: 5px;
      margin: 20px 0;
      font-size: 2.75em;
    }
  }

  .body {
    display: flex;
    justify-content: center;
  }
}
